@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Dokdo&family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600&display=swap');

/* 
font-family: 'Amatic SC', cursive;
font-family: 'Poppins', sans-serif; 
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* --------------------------------------------navbar */
.navbar {
  /* position: fixed;
  width: 100%;
  z-index: 5; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 15vh;
}

.logo {
  margin: 5vh 20px;
}

.logo-main {
  font-family: 'Redressed', cursive;
  letter-spacing: 2px;
  font-size: 4rem;
  margin: 0;
}

.logo-sub {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.nav-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links li:hover {
  background-color: #636e72;
}

.nav-links li a {
  letter-spacing: 3px;
  padding: 1.5rem;
  display: block;
}

.toggle-burger {
  position: absolute;
  top: 50px;
  right: 25px;
}

.toggle-burger i {
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
}

/*--------------------main-section*/
.main-section {
  padding: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  left: 0px;
  min-height: 75vh;
  top: 10vh;
  background: #e17055;
}

.main-section a {
  font-size: 2.5rem;
  margin: 10px 0;
}

.main-section i {
  display: block;
  margin: 10px 0;
}

.main-section p {
  font-size: 1.8rem;
  color: #dfe6e9;
}

/*----------------------------footer*/
.foot {
  min-height: 10vh;
  padding: 3vh;
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: auto;
  font-size: 25px;
}

.social-item {
  list-style: none;
}

/*-------------------------------menu section*/
.container {
  text-align: center;
  width: 100%;
  padding: 10px;
  background: url('../images/grill001.jfif') no-repeat center center/cover;
}

.menu {
  margin: auto;
  width: 90%;
}

h2 {
  margin: 0;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}

.my-icon {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.col h3,
.col h4 {
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
}

.col p {
  margin: auto;
  width: 80%;
  letter-spacing: 1px;
  line-height: 1.8;
  font-weight: 200;
  font-size: 18px;
  padding-bottom: 30px;
}

hr {
  width: 25%;
  color: #e17055;
  border-top: 1px dashed;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-bottom: 30px;
}

/*--------------------------------colors*/
.bg-primary-color {
  background-color: #d63031;
}

.bg-secondary-color {
  background-color: #81ecec;
}

.bg-light-color {
  background-color: #dfe6e9;
}

.bg-grey-color {
  background-color: #b2bec3;
}

.bg-dark-color {
  background-color: #2d3436;
}

.light-color {
  color: #dfe6e9;
}

.dark-color {
  color: #2d3436;
}

/*------------------------Utilities*/
.no-deco {
  text-decoration: none;
}

.hidden {
  display: none;
}

.row {
  /* display: none; */
}

.col {
}

.row,
.col {
  margin: 0;
  padding: 0;
}

.box {
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  min-height: 150px;
}

/*--------------------------------hover.css*/
.hvr-sweep-to-bottom::before {
  background-color: rgba(0, 0, 0, 0.3);
}

/*-------------------------breakpoints*/
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  body {
    overflow: scroll;
  }

  .logo {
    margin-left: 25px;
  }

  .logo-main {
    font-size: 2.8rem;
  }

  .logo-sub {
    font-size: 1.5rem;
  }

  .toggle-burger {
    display: flex;
    cursor: pointer;
    top: 75px;
    right: 50px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li a {
    font-family: 'Raleway', sans-serif;
    color: #2d3436;
    font-weight: 300;
    padding: 2rem 1rem;
  }

  .nav-links li a:hover {
    color: #dfe6e9;
    font-weight: 400;
  }

  .nav-links.active {
    display: flex;
  }

  .box-1 {
    background-color: #ffeaa7;
    font-size: 30px;
  }
  .box-2 {
    background-color: #fdcb6e;
    font-size: 30px;
  }
  .box-3 {
    background-color: #e17055;
    font-size: 30px;
  }

  .main-section.mutate {
    justify-content: flex-start;
    text-align: center;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0px;
    height: 60vh;
    background: #2d3436;
    padding: 3vw;
  }
}

@media (max-height: 600px) {
  .logo-sub {
    display: none;
  }

  .nav-links li a {
    padding: 0.75rem 0.5rem;
  }

  .toggle-burger {
    position: absolute;
    top: 25px;
    right: 25px;
  }
}

@media (max-width: 414px) {
  .main-section a {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .main-section p {
    font-size: 1.2rem;
    color: #dfe6e9;
  }

  .nav-links li a {
    padding: 1rem 1rem;
  }

  .logo-main {
    font-size: 2.5rem;
  }

  .logo-sub {
    display: none;
  }

  .toggle-burger {
    position: absolute;
    top: 35px;
    right: 25px;
  }

  .menu {
    width: 100%;
  }

  .container {
    padding: 5px;
  }

  .col p {
    width: 80%;
  }

  .my-icon {
    display: block;
  }

  .row {
    display: none;
    min-height: 50px;
  }

  .starter-row.active {
    display: block;
  }

  .beef-row.active {
    display: block;
  }

  .chicken-row.active {
    display: block;
  }

  .fish-row.active {
    display: block;
  }

  hr {
    display: none;
  }
}
