@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600&display=swap');

/* 
font-family: 'Amatic SC', cursive;
font-family: 'Poppins', sans-serif; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* --------------------------------------------navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 10vh;
}

.logo {
  padding: 20px;
}

.logo-main {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.logo-sub {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
}

.nav-links {
  margin-right: 1rem;
}

.nav-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links li:hover {
  background-color: #636e72;
}

.nav-links li a {
  padding: 1.5rem;
  display: block;
}

.toggle-burger i {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
}

/*--------------------main-section*/
.main-section {
  padding: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  left: 0px;
  height: 80vh;
  top: 10vh;
  background: url('../images/grill001.jfif') no-repeat center center/cover;
}

.main-section a {
  font-size: large;
  margin: 10px 0;
}

.main-section i {
  display: block;
  margin: 10px 0;
}

.main-section p {
  color: #b2bec3;
}

/*----------------------------footer*/
.foot {
  height: 10vh;
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  width: 40%;
  margin: auto;
  font-size: 30px;
}

.social-item {
  list-style: none;
}

.social-item a {
}

/*--------------------------------colors*/
.bg-primary-color {
  background-color: #d63031;
}

.bg-secondary-color {
  background-color: #81ecec;
}

.bg-light-color {
  background-color: #dfe6e9;
}

.bg-grey-color {
  background-color: #b2bec3;
}

.bg-dark-color {
  background-color: #2d3436;
}

.light-color {
  color: #dfe6e9;
}

.dark-color {
  color: #2d3436;
}

/*------------------------Utilities*/
.no-deco {
  text-decoration: none;
}

.hidden {
  display: none;
}

/*--------------------------------hover.css*/
.hvr-sweep-to-bottom::before {
  background-color: rgba(0, 0, 0, 0.3);
}

/*-------------------------breakpoints*/
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .toggle-burger {
    display: flex;
    cursor: pointer;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li a {
    font-family: 'Raleway', sans-serif;
    color: #2d3436;
    font-weight: 300;
    padding: 2rem 1rem;
  }

  .nav-links li a:hover {
    color: #dfe6e9;
    font-weight: 400;
  }

  .nav-links.active {
    display: flex;
  }

  .box-1 {
    background-color: #ffeaa7;
    font-size: 30px;
  }
  .box-2 {
    background-color: #fdcb6e;
    font-size: 30px;
  }
  .box-3 {
    background-color: #e17055;
    font-size: 30px;
  }
}
